<app-header></app-header>
<main>
  <ul id="users">
    @for(user of users; track user.id){
    <li>
      <!-- <app-users
        [id]="user.id"
        [avatar]="user.avatar"
        [name]="user.name"
        (select)="onSelectUser($event)"
      /> -->
      <app-users
        [user]="user"
        (select)="onSelectUser($event)"
        [selected]="user.id === selectedUserId"
      />
    </li>
    }
  </ul>
  <!-- <h2>Name of selected person: {{ userName }}</h2> -->
  <!-- <app-tasks [name]="userName" /> -->
  <app-tasks [id]="userId" [name]="userName" />
</main>
